{% extends '/dashboard/admin/index.html' %}
{% block title %}Developer Console{% endblock %}
{% block dashboard_title %}{{ title() }}xxxx{% endblock %}
{% block breadcrumbs %}
{{ super() }}
<a href="{{ url_for('dashboard.admin.users.index') }}" class="breadcrumb">Users</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h4>User Manager</h4>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <a href="{{url_for('dashboard.admin.users.search')}}">Search</a>
  </div>
</div>
{% endblock %}
