{% extends '/dashboard/admin/users/index.html' %}
{% block breadcrumbs %}
{{ super() }}
<a href="{{ url_for('dashboard.admin.users.search') }}" class="breadcrumb">Search</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h4>User Search</h4>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <form action="" method="POST">
      {{ form.csrf_token }}
      {% if form.errors %}
      <div class="row">
        <div class="col s12 red-text">
          {% for error in form.errors %}
          {{ form[error].label.text }}:
          {{ form.errors.get(error) | join(', ') }}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="input-field col s6">
          {{ form.username }}
          {{ form.username.label }}
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">search</i>Search</button>
        </div>
      </div>
    </form>
  </div>
</div>


{% if users %}
<div class="row">
  <div class="col s12">
    <table>
      <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
      </thead>

      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.roles | join(', ')}}</td>
          <td>
            set <a href="{{ url_for('dashboard.admin.users.set_role', user_id=user.id, role='admin') }}">Admin</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
            
  </div>
</div>
{% endif %}

{% endblock %}
