{% extends '/dashboard/developers/oauth2/index.html' %}

{% block breadcrumbs %}
{{ super() }}
<a href="{{ url_for('dashboard.developers.oauth2.view', client_id=oauth2_client.id) }}" class="breadcrumb">{{ oauth2_client.name }}</a>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col s12">
    <h5>OAuth Management Tool</h5>
  </div>
</div>

{# tool hear #}
<div class="row">
  <div class="col s12">
    <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('dashboard.developers.oauth2.create') }}"><i class="material-icons">add</i></a>
  </div>
</div>
{# end tool #}

<div class="row">
  <div class="col s12">
    <h4>{{ oauth2_client.name }}</h4>
    <p><b>Client ID:</b> {{ oauth2_client.id }}</p>
    <p><b>Secret Key:</b> {{ oauth2_client.secret }}</p>
    <p><b>Redirect URIs:</b> {{ oauth2_client.redirect_uris | join(', ') }}</p>
    <p><b>Default Scopes:</b> {{ oauth2_client.scopes | join(', ') }}</p>
    <p><b>Created Date:</b> {{ oauth2_client.created_date }}</p>
    <p><b>Last Update:</b> {{ oauth2_client.updated_date }}</p>
  </div>
</div>

{% endblock %}
